<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/User.css">
</head>

<body class="body">
    <h1>
        <%= title %>
    </h1>
    <p>Welcome, <%= name %>!</p>
</body>

</html>